.footer {
  height: 45px;
  padding-bottom: 7px;
  padding-top: 7px;
  background: #fff;
  border-top: 0.7px solid lightgrey;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  bottom: 0;
  right: 0;
  width: 100%;
}

.footer__links {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__active__link {
  border-bottom: 4px solid black !important;
}

.footer__link {
  width: 60px;
  height: 100%;
  display: grid;
  place-items: center;
  border-radius: 4px;
  margin-right: 4px;
  border-top: 4px solid white;
  border-bottom: 4px solid white;
  transition: 444ms ease-in-out;
}

.footer__active__icon {
  color: black;
  font-size: 24px !important;
}

.footer__icon {
  color: grey;
  font-size: 24px !important;
}

@media only screen and (min-width: 450px) {
  .footer {
    display: none;
  }
}
