.navbar__nav {
  height: 45px;
  padding: 7px;
  background: #fff;
  border-bottom: 0.7px solid lightgrey;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 10;
}

.navbar__logo {
  height: 100%;
  width: 150px;
  display: grid;
  place-items: center;
}

.navbar__logo img {
  height: 35px;
  object-fit: contain;
}

.navbar__links {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar__active__link {
  border-top: 4px solid black !important;
}

.navbar__link {
  width: 60px;
  height: 100%;
  display: grid;
  place-items: center;
  border-radius: 4px;
  margin-right: 4px;
  border-top: 4px solid white;
  border-bottom: 4px solid white;
  transition: 444ms ease-in-out;
}
.navbar__link:hover {
  background: whitesmoke;
  border-bottom: 4px solid grey;
}

.navbar__active__icon {
  color: black;
  font-size: 24px !important;
}

.navbar__icon {
  color: grey;
  font-size: 24px !important;
}

.navbar__search,
.navbar__add__post {
  height: 100%;
  width: 44px;
  display: grid;
  place-items: center;
}

.navbar__search__icon,
.navbar__add__post__icon {
  color: grey;
}

.navbar__search__icon__active,
.navbar__add__post__icon__active {
  color: black;
}

.navbar__mobile {
  display: flex;
  align-items: center;
  height: 100%;
}

@media only screen and (min-width: 450px) {
  .navbar__mobile {
    display: none;
  }
}
@media only screen and (max-width: 450px) {
  .navbar__nav {
    padding: 4px;
  }
  .navbar__logo {
    width: 120px;
  }
  .navbar__logo img {
    height: 30px;
  }
  .navbar__links {
    display: none;
  }
}
