.post {
  max-width: 700px;
  width: 100%;
  background: white;
  border-radius: 7px;
  border: 0.4px solid lightgrey;
  margin-top: 7px;
  margin-bottom: 7px;
  padding-top: 11px;
  padding-bottom: 11px;
}

.post__image {
  height: 500px;
  border-top: 0.4px solid lightgrey;
  border-bottom: 0.4px solid lightgrey;
}
.post__image img {
  height: 100%;
  width: 100%;
}

@media only screen and (max-width: 550px) {
  .post {
    margin-top: 2px;
    margin-bottom: 2px;
    border-radius: 0;
  }
}
